<div class="container">
  <div class="jumbotron">
<h1>All Actors</h1>
</div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container testimonial-group">
  <div class="row text-center">
  <% @actors.sort_by{|actor| actor.name}.each do |actor| %>
    <div class="col-xs-3">
      <div class="all_pictures">
        <h3><%= link_to actor.name, actor %></h3>
        <a href="<%= actor_path(actor) %>"><img src="<%= actor.image %>" class="img-rounded img-fluid" alt="<%= actor.name %> Picture" height="200" width="200"></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
