<h1>All Actors</h1>

<% @actors.each do |actor| %>
  <div class="all_pictures">
    <a href="<%= actor_path(actor) %>"><img src="<%= actor.image %>" alt="<%= actor.name %> Picture"></a>
    <li><%= link_to actor.name, actor %></li>
  </div>
<% end %>
