<h1>Login</h1>

<%= form_for @user, :url => ({controller: 'session', action: 'create', method: 'post'}) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br><br>
password will go here
<%= f.submit "Login" %>
<% end %>
