<h1><%= @user.name %></h1>
<% if @user.admin? %>
<h3>Admin</h3>
<% end %>

<% if (logged_in? && admin?) || (logged_in? && current_user?)  %>
  <%= button_to 'Edit User', edit_user_path(@user), :method => :get %><br>
  <%= button_to 'Delete User', user_path(@user), :method => :delete %>
<% end %>
