

<div class="container">
  <div class="jumbotron">
<h1>All Shows</h1>
</div>
</div>


<div class="container testimonial-group">
  <div class="row text-center">
  <% @shows.sort_by{|show| show.title}.each do |show| %>
  <div class="col-xs-3">
    <div class="all_pictures">
      <h3><%= link_to show.title, show %></h3>
      <a href="<%= show_path(show) %>"><img src="<%= show.image %>" class="img-thumbnail img-fluid" alt="<%= show.title %> Picture" height="300" width="200"></a>
    </div>
    </div>
  <% end %>
</div>
</div>
