
<h1>Welcome to TVDB!</h1>

<% if logged_in? %>
  <h1>Shows For You:</h1>
  <% if all_shows != nil %>
  <% all_shows.each do |show| %>
      <div class="all_pictures">
        <a href="<%= show_path(show) %>"><img src="<%= show.image %>" alt="<%= show.title %> Picture"></a>
        <%= link_to show.title, show %>
      </div>
    <% end %>
    <% end %>
<% end %>




  <h1>Recommendations:</h1>
  <h2>Similar genres to your shows:</h2>
